<section class="navigation-bar">
       
        
        <ul class="main-nav">
           
            
            
          <li>
            <a href="{% url 'home' %}" class="nav-links">Projects</a>
          </li>
          <li>
            <a href="#" class="nav-links">Contact</a>
          </li>
         
          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'inbox' %}" class="nav-links">Inbox</a>
          </li>
          <li>
            <a href="{% url 'add-project' %}" class="nav-links">Add Project</a>
          </li>
          {% endif %}
          
        </ul>
   
    
        
        
      

</section>